---
import Layout from '../components/Layout.astro';
---

<Layout title="WEM">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content" margin-left:10% margin-right:10%>

      <div class="header" margin-left:10% margin-right:10%>
        <h3 align="center">Wildfire Emergency Management (WEM) Platform</h2>
        <h3 align="left"> Term of use</h3>
        <p align="left">
          The Wildfire Emergency Management (WEM) Platform is developed by Xilei Zhao, Ruoyang Xiong, and Yuran Sun and funded by the National Institute of Standards and Technology (NIST).
        </p>
        <p align="left" margin-left:10% margin-right:10%>
          This platform and its contents herein, including all data, mapping, and analysis are copyright 2022 SERMOS Lab, University of Florida, all rights reserved.
        </p>
        <h3 align="left">Details of Layers</h3>
        <h4 align="left">Preparedness</h4>
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-wrg0{font-size:20px;text-align:center;vertical-align:top}
        .tg .tg-9d8n{border-color:inherit;font-size:20px;text-align:center;vertical-align:top}
        .tg .tg-ujoh{font-size:20px;font-weight:bold;text-align:center;vertical-align:top}
        </style>
        <table class="tg" style="undefined;table-layout: fixed; width: 1237px">
        <colgroup>
        <col style="width: auto">
        <col style="width: auto">
        <col style="width: auto">
        <col style="width: auto">
        </colgroup>
        <thead>
          <tr>
            <th class="tg-9d8n">Map Name</th>
            <th class="tg-9d8n">Description</th>
            <th class="tg-wrg0">Update Frequency</th>
            <th class="tg-wrg0">Source</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-9d8n">Urban Areas</td>
            <td class="tg-9d8n">-</td>
            <td class="tg-wrg0">Yearly</td>
            <td class="tg-ujoh" rowspan="3"><a href="https://gis-sonomacounty.hub.arcgis.com/">Sonoma County Arcgis</a></td>
          </tr>
          <tr>
            <td class="tg-9d8n">Vehicle Availiable Map</td>
            <td class="tg-9d8n">-</td>
            <td class="tg-wrg0"><span style="font-style:normal">Yearly</span></td>
          </tr>
          <tr>
            <td class="tg-9d8n">Household Income Map</td>
            <td class="tg-9d8n">-</td>
            <td class="tg-wrg0"><span style="font-style:normal">Yearly</span></td>
          </tr>
          <tr>
            <td class="tg-9d8n">Comnunity Resilience Estimates Map</td>
            <td class="tg-9d8n">-</td>
            <td class="tg-wrg0"><span style="font-style:normal">Yearly</span></td>
            <td class="tg-wrg0"><a href="https://www.arcgis.com/apps/MapSeries/index.html?appid=c5bc811ee22e4da0bde8abec7c20b8b4">Risk Management Assistance Dashboard</a></td>
          </tr>
          <tr>
            <td class="tg-9d8n">Fire Hazard Severity Zones</td>
            <td class="tg-9d8n">-</td>
            <td class="tg-wrg0"><span style="font-style:normal">Yearly</span></td>
            <td class="tg-wrg0" rowspan="2"><a href="https://gis-sonomacounty.hub.arcgis.com/">Sonoma County Arcgis</a></td>
          </tr>
          <tr>
            <td class="tg-9d8n">Population Density Map</td>
            <td class="tg-9d8n">-</td>
            <td class="tg-wrg0"><span style="font-style:normal">Yearly</span></td>
          </tr>
        </tbody>
        </table>
        <h4 align="left">Response</h4>
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-wrg0{font-size:20px;text-align:center;vertical-align:top}
        .tg .tg-9d8n{border-color:inherit;font-size:20px;text-align:center;vertical-align:top}
        .tg .tg-ujoh{font-size:20px;font-weight:bold;text-align:center;vertical-align:top}
        </style>
        <table class="tg" style="undefined;table-layout: fixed; width: 1419px">
        <colgroup>
        <col style="width: auto">
        <col style="width: auto">
        <col style="width: auto">
        <col style="width: auto">
        </colgroup>
        <thead>
        <tr>
          <th class="tg-9d8n">Map Name</th>
          <th class="tg-9d8n">Description</th>
          <th class="tg-wrg0">Update Frequency</th>
          <th class="tg-wrg0">Source</th>
        </tr>
      </thead>
          <tbody>
            <tr>
              <td class="tg-9d8n">Evacuation Zones</td>
              <td class="tg-9d8n">-</td>
              <td class="tg-wrg0">Daily</td>
              <td class="tg-ujoh"><a href="https://gis-sonomacounty.hub.arcgis.com/">Sonoma County Arcgis</a></td>
            </tr>
            <tr>
              <td class="tg-9d8n">During Fire Activity Map</td>
              <td class="tg-9d8n">-</td>
              <td class="tg-wrg0"><span style="font-weight:400;font-style:normal">Hourly</span></td>
              <td class="tg-wrg0"><span style="font-weight:400;font-style:normal">SERMOS Lab</span></td>
            </tr>
            <tr>
              <td class="tg-9d8n">Distance From the Closest Fire Field Map</td>
              <td class="tg-9d8n">-</td>
              <td class="tg-wrg0"><span style="font-style:normal">Hourly</span></td>
              <td class="tg-wrg0" rowspan="2"><a href="https://socoemergency.org/recover/2019-kincade-fire/kincade-fire-maps-data/">Soco Emergency</a></td>
            </tr>
            <tr>
              <td class="tg-9d8n">Fire Progression</td>
              <td class="tg-9d8n">-</td>
              <td class="tg-wrg0"><span style="font-style:normal">Daily</span></td>
            </tr>
            <tr>
              <td class="tg-9d8n">5m Fuels</td>
              <td class="tg-9d8n">More than 5m of natural flammables, such as trees, etc</td>
              <td class="tg-wrg0"><span style="font-style:normal">Unknown</span></td>
              <td class="tg-wrg0"><a href="https://data.sonomaopenspace.org/arcgis/rest/services/Sonoma_5m_fuels/MapServer">Sonoma Open Space</a></td>
            </tr>
          </tbody>
          </table>
          <h4 align="left">Recovery</h4>
          <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg .tg-wrg0{font-size:20px;text-align:center;vertical-align:top}
          .tg .tg-9d8n{border-color:inherit;font-size:20px;text-align:center;vertical-align:top}
          .tg .tg-ujoh{font-size:20px;font-weight:bold;text-align:center;vertical-align:top}
          </style>
          <table class="tg" style="undefined;table-layout: fixed; width: 1419px">
          <colgroup>
          <col style="width: auto">
          <col style="width: auto">
          <col style="width: auto">
          <col style="width: auto">
          </colgroup>
          <thead>
            <tr>
              <th class="tg-9d8n">Map Name</th>
              <th class="tg-9d8n">Description</th>
              <th class="tg-wrg0">Update Frequency</th>
              <th class="tg-wrg0">Source</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-9d8n">Post Fire Activity</td>
              <td class="tg-9d8n">-</td>
              <td class="tg-wrg0">Hourly</td>
              <td class="tg-ujoh"><span style="font-weight:400;font-style:normal">SERMOS Lab</span></td>
            </tr>
          </tbody>
          </table>
          <h4 align="center">Developed by SERMOS Lab</h4>
      </div>
    </div>
	</main>
</Layout>